<%= form_for @apartment, html: { multipart: true } do |f| %>
  <% if @apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% @apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.file_field :image %>

  <br>
  <br>

  <div class="field">
    <%= f.label :street_address %><br>
    <%= f.text_field :street_address %>
  </div>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :postal %><br>
    <%= f.text_field :postal %>
  </div>

  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :opens_at %><br>
    <%= f.text_field :opens_at %>
  </div>

  <div class="field">
    <%= f.label :closes_at %><br>
    <%= f.text_field :closes_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
