<p id="notice"><%= notice %></p>

<%= link_to image_tag(@apartment.image.url(:large)), @apartment.image.url %>

<p>
  <strong>Name:</strong>
  <%= @apartment.name %>
</p>

<p>
  <strong>Street Address:</strong>
  <%= @apartment.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @apartment.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @apartment.state %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @apartment.postal %>
</p>

<p>
  <strong>Country:</strong>
  <%= @apartment.country %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @apartment.phone_number %>
</p>

<p>
  <strong>Hours of Operation:</strong>
  <%= @apartment.opens_at %> - <%= @apartment.closes_at %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
<br><br>
<div id="apartment_map" data-apartment-id="<%=@apartment.id%>">Google Map will appear here...</div>
